.departmentTitle, .keywordTitle{
    margin-left: 400px;
}
.departmentSearch{
    margin-left: 170px;
    border: 2px solid #3498db;
    width: 300px;
    height: 40px;
}
.keywordSearch{
    margin-left: 150px;
    border: 2px solid #3498db;
    width: 300px;
    height: 40px;
}
.searchContainer{
    display: flex;
    margin-left: 60px;
}

.searchButton{
    margin-left: 710px;
    background: #3498db;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 15px;
}

.container{
    display:flex;
    margin: 30px;
}

.addStudents{
    margin-left: 642px;
    width: 80px;
    height: 40px;
    background-color: #3498db;
    color: white;
    border-radius: 15px;
}

.delete,.edit{
    width: 80px;
    height: 40px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
}

table{
    width: 100%;
    border: none;
    margin-left: 200px;
}

.id,.name,.department,.action,.numStudent{
    font-size: 18px;
}
.numStudent{
    margin-left: 280px;
}
.addStudentsLink{
    text-decoration: none;
    color: white;
}