
    body {
            background-color: #f7f7f7;
            height: 100vh;
            margin: 0;
        }

        h1 {
            color: #333;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: left;
            max-width: 50%;
            width: 90%;
            margin: 0 auto;
        }

        label[for="name"],
        label[for="department"],
        label[for="gender"],
        label[for="dob"],
        label[for="address"],
        label[for="image"]{
            font-weight: semibold;
            background-color: #669900;
            border: 2px solid royalblue ;
            border-radius: 3px;
            padding: 10px;
            margin: 8px 0;
            color: white;
            display: block;
            width: 30%; /* Điều chỉnh kích thước label tại đây */

        }
        span.required {
            color: red;
        }

        .form-group {
            display: flex;
            align-items: center;
        }

        .form-group label {
            margin-right: 20px; /* Thêm khoảng cách giữa label và input/select */
        }

        input[type="text"],
        input[type="password"] {
            flex: 1;
            padding: 10px;
            margin: 8px 0;
            border: 3px solid cornflowerblue;
            border-radius: 3px;
        }

        .radio-group {
            display: flex;
            align-items: center;
        }

        /* Đặt màu chữ của "Nam" và "Nữ" */
        .gender-label {
            color: black; /* Màu chữ mặc định */
        }

        input[type="radio"] {
            margin-right: 5px;
            background-color: yellowgreen;
        }

        select {
            padding: 10px;
            margin: 8px 0;
            border: 3px solid cornflowerblue;
            border-radius: 3px;
        }

        input[type="submit"] {
            background-color: #669900;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            border: 1px solid cornflowerblue;
            cursor: pointer;
            font-weight: bold;
            margin: 20px auto;
            text-align: center;
            display: block;
        }
        
        .error-messages {
        color: red;
        margin-bottom: 10px;
        }
        img {
            width: 200px;
        }
  